<div class="card contact-status-widget-custom">
  <div class="card-body">

    <div class="d-flex flex-wrap">

      <div class="d-flex flex-wrap">
        <div class="contact-status-widget-text align-self-center">
          Contacts&nbsp; : &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>

      <div class="d-flex flex-nowrap flex-fill">
        <div class="badge badge-light flex-fill contact-status-widget-badge">
          <!-- <button type="button" class="btn btn-light"> -->
          <div class="contact-status-widget-number">4</div>
          <div class="contact-status-widget-badge-text">All</div>
          <!-- </button> -->
        </div>

        <div class="badge badge-light flex-fill contact-status-widget-badge">
          <!-- <button type="button" class="btn btn-light"> -->
          <div class="contact-status-widget-number">4</div>
          <div class="contact-status-widget-badge-text">Active</div>
          <!-- </button> -->
        </div>

        <div class="badge badge-light flex-fill contact-status-widget-badge">
          <!-- <button type="button" class="btn btn-light flex-fill"> -->
          <div class="contact-status-widget-number">4</div>
          <div class="contact-status-widget-badge-text">Inactive</div>
          <!-- </button> -->
        </div>
      </div>
    </div>
  </div>
</div>